<div w3-include-html="menu.html"></div> 
<h2></h2>
<div class="container">
    <div class="panel panel-default">
        <div class="panel panel-heading">
            <strong>Alterando Informações</strong>
        </div>
        <div class="panel panel-body">
            <form>
                    <input type="hidden" name="id" id="id" />
                
                    <div class="form-group">
                        <label for="nome">Nome:</label>
                        <input class="form-control" type="text" name="nome" id="nome"  ng-model="cliente.nome" required="true"/>
                    </div>
                    <div class="form-group">
                        <label for="turma">Turma:</label>
                        <input class="form-control" type="text" name="turma" id="turma" ng-model="cliente.turma" />
                    </div>
                    
                    <div class="text-right">
                        <a href="#/!" class="btn btn-danger">Cancelar</a>
                        <input type="submit" ng-click="submitForm()" value="Gravar" class="btn btn-success"/>
                    </div>
            </form> 	
        </div>
    </div>
</div>
