<div class="container">
    <br><br>
    <div class="panel panel-default">
           <div class="panel panel-heading">
               <strong><h4>Olá! .. Seja Benvindo ao Sistema de Cadastro de Tarefas e Provas da UFPR</h4></strong>
            </div>
        
        <div class="panel panel-body">
                    
        <div class="btn-group">
            <button class="btn btn-default dropdown-toggle " type="button" data-toggle="dropdown">Cadastrar
            <span class="caret"></span></button>
           <ul class="dropdown-menu">
                <li><a href='#!inserir'>Cadastrar Alunos</a></li>
              <li><a href='./formInserir.php'>Cadastrar Turmas</a></li>
             </ul>              

           </div> 
           <div class="btn-group">
                <div class="text-right">
                    <a href='#!listar' class="btn btn-default">Controle de Alunos e Tarefas</a>
                    <a href='#!listarTarefas/:id' class="btn btn-default">Verificar Tarefas e Avaliação</a> 
              </div>  
            </div>    
        
           <!--  <div class="btn-group">
                <div class="text-right">
                    <a href='analisasolicitacao.php' class="btn btn-default">Verificar Tarefas</a>
            </div>  
            </div>  -->
            </div>   
 </div>  
     </div>
</div>
